<section>
  <div class="container">
    <div class="question" *ngIf="questions.length > 0">
      <div class="question__title">
        <h3 *ngIf="questions[questionsCount].questionType == 0">{{questions[questionsCount].question}}</h3>
        <div class="question__flag" *ngIf="questions[questionsCount].questionType == 1"><img src="{{questions[questionsCount].countryFlag}}" alt="Flag"></div>
        <h3 *ngIf="questions[questionsCount].questionType == 1">{{questions[questionsCount].question}}</h3>
      </div>
      <div class="question__answers">
        <div class="answer-item" *ngFor="let answer of questions[questionsCount].questionAnswers">
          <button type="button"
            class="answer-item__text"
            (click)="checkAnswer(questions[questionsCount], answer)"
            [disabled]="isItCorrect || answer.isItAnswered"
            [ngClass]="{'correct': answer.isItAnswered && answer.isCorrect, 'wrong': answer.isItAnswered && !answer.isCorrect, 'btn': !answer.isItAnswered && !isItCorrect}"
            >
            {{answer.answer}}
          </button>
        </div>
      </div>
    </div>
    <button *ngIf="isItCorrect && questionsCount < questions.length - 1" (click)="nextQuestion()" class="btn-next-question btn">Next question</button>
    <h1 *ngIf="questionsCount == questions.length -1 && isItCorrect">Finished! Here's your score:</h1>
    <p class="result-text" *ngIf="questionsCount == questions.length -1 && isItCorrect">{{correctAnswers}} / {{questions.length}}</p>
    <button (click)="restartGame()" class="btn-next-question btn" *ngIf="questionsCount == questions.length -1 && isItCorrect">Restart</button>
  </div>
</section>